<?xml version='1.0' encoding='utf-8'?>
<!-- 
    /********************************/
    📝📝 버전 증가시 주의사항!!📝📝
    /********************************/    

    [버전 구성]
    X.X.X

    [버전의 의미]
    Major.Middle.Minor

    [주의사항]
    - Major 버전만 2자릿수 이상 증가 가능함.
    - Middle, Minor 버전 증가는 반드시 1자리 숫자로 증가해야함. 
    - 위 내용은 패치 버전도 동일함.    
 -->
<widget id="com.u4a_ws3.app" version="3.5.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>U4A Workspace</name>
    <description>
        U4A Application for Integrated Development of Web Environments Developed by the U4A Solution RnD Team.
    </description>
    <author email="u4aide@u4ainfo.com" href="https://www.u4ainfo.com">
        U4A Solution R&amp;D Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="electron">
        <preference name="AppendUserAgent" value="u4a_cordova_electron" />
        <preference name="ElectronSettingsFilePath" value="www/settings/BrowserWindow/BrowserWindow-settings.json" />
        <icon src="www/img/logo.png" target="installer" />
    </platform>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
