*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
.u4aWsLoginBody {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.u4aWsLoginBody {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}

.u4aWsLoginBody ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}

.u4aWsLoginBody :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}

.u4aWsLoginBody ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}

.u4aWsLoginBody :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}

.u4aWsLoginWrapper {
  background: linear-gradient(
    125deg,
    rgba(160, 0, 161, 1) 0%,
    rgba(148, 40, 197, 1) 51%,
    rgba(49, 80, 233, 1) 100%
  );
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.u4aWsLoginWrapper.form-success .u4aWsLoginContainer h1 {
  transform: translateY(85px);
}

.u4aWsLoginContainer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: block;
  position: absolute;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
}

.u4aWsLoginContainer h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}

.u4aWsLoginForm {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.u4aWsLoginForm input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.u4aWsLoginForm button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

.u4aWsLoginForm button:hover {
  background-color: #f5f7f9;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

@-webkit-keyframes square {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}

@keyframes square {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}

.u4a_logo {
  width: 56px;
  height: 56px;
}

.u4aWsLoginContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 430px;
  background: linear-gradient(rgba(35, 43, 85, 0.75), rgba(35, 43, 85, 0.95));
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 2;
}

.u4aWsLoginHeader {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.u4aWsLoginHeader > div {
  color: white;
  text-align: center;
}

.u4aWsLoginHeader > h3 {
  color: #ffffff;
  text-align: center;
  margin-left: 15px;
  font-size: 1.4rem;
}

.u4aWsLoginFormArea * {
  box-sizing: border-box;
}

.u4aWsLoginFormArea {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.u4aWsLoginForm {
  height: auto;
  width: 80%;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.u4aWsLoginForm input,
.form-signup input {
  color: #ffffff;
  font-size: 13px;
  box-sizing: border-box;
}

.u4aWsLoginFormStyling {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
}

.u4aWsLoginFormArea label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
  display: block;
}

:focus {
  outline: none;
}

.u4aWsLoginForm input:focus,
textarea:focus,
.form-signup input:focus,
textarea:focus {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  /* padding-right: 40px; */
  transition: background 0.5s ease;
}

.u4aWsLoginBtnSignin {
  float: left;
  padding-top: 8px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: -8px;
}

.u4aWsLoginBtnAnimate {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding-top: 8px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: 23px;
  background-color: rgba(16, 89, 255, 1);
  left: 0px;
  top: 0px;
  transition: all 0.5s ease, top 0.5s ease 0.5s, height 0.5s ease 0.5s,
    background-color 0.5s ease 0.75s;
}

.u4aWsLoginBody a.btn-signup:hover,
a.u4aWsLoginBtnSignin:hover {
  cursor: pointer;
  background-color: #0f4fe6;
  transition: background-color 0.5s;
}

@media screen and (max-width: 500px) {
  .u4aWsLoginContainer {
    width: 300px;
  }

  .u4aWsLoginHeader > h3 {
    margin-right: 15px;
  }

  .u4a_logo {
    margin-left: 20px;
  }
}

.staffLoginBtn {
  width: 50px !important;
  height: 30px !important;
  font-size: 0.8rem !important;
  color: black !important;
  padding: 0px !important;
}

.u4aWsGuestLoginCard
  .sapFCardHeaderWrapper
  .sapFCardHeaderText
  .sapFCardHeaderTextFirstLine
  .sapFCardTitle {
  font-weight: bold;
  font-size: 1.2rem;
}

.u4aWsBrowserDraggable {
  -webkit-app-region: drag !important;
}

.u4aWsBrowserDraggable .sapMBtn,
.u4aWsBrowserDraggable .sapMSlt {
  -webkit-app-region: no-drag;
}

/* BusyIndicator */
#u4aWsBusyIndicator {
  right: 0;
}

.u4aWsBusyIndicator {
  z-index: 2000000;
}

.sapUiUserSelectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.sapUiBusy {
  display: block;
  width: 48px;
  height: 48px;
  outline: none;
  cursor: wait;
  top: 0 !important;
}

#u4aWsBusyIndicator > .sapUiLocalBusyIndicatorFade {
  cursor: wait;
}

.sapUiLocalBusyIndicatorSizeBig {
  font-size: 2rem;
  background-color: transparent;
}

.sapUiLocalBusyIndicatorFade {
  opacity: 1;
}

.sapUiLocalBusyIndicator {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  outline: none;
}

.sapUiLocalBusyIndicator {
  background-color: rgba(247, 247, 247, 0.72);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sapUiLocalBusyIndicatorAnimation {
  position: absolute;
  width: 3em;
  top: 50%;
  left: 50%;
}

.sapUiLocalBusyIndicatorAnimStandard > div:nth-child(1) {
  animation-delay: -0.32s;
}

.sapUiLocalBusyIndicatorAnimStandard > div:nth-child(2) {
  animation-delay: -0.16s;
}

.sapUiLocalBusyIndicatorAnimStandard > div {
  animation: sapUiBusyAnimationStandard 1.8s infinite ease-in-out;
}

.sapUiLocalBusyIndicatorAnimation > div,
.sapUiLocalBusyIndicatorAnimation > div::before,
.sapUiLocalBusyIndicatorAnimation > div::after {
  animation-fill-mode: both;
}

.sapUiLocalBusyIndicatorAnimation > div {
  width: 1em;
  height: 1em;
  border-radius: 100%;
  display: block;
  float: left;
  margin: 0px;
  position: relative;
  top: -0.5em;
  left: -1.5em;
  text-indent: 1px;
}

.sapUiLocalBusyIndicatorAnimStandard > div {
  animation: sapUiBusyAnimationStandard 1.8s infinite ease-in-out;
}

.sapUiLocalBusyIndicatorAnimation > div::before {
  background: #0854a0;
  animation-duration: 0ms;
}

.sapUiLocalBusyIndicatorAnimStandard > div::before {
  animation: sapUiBusyAnimationStandardBackground 1.8s infinite ease-in-out;
}

.sapUiLocalBusyIndicatorAnimation > div::before {
  background: #0a6ed1;
}

.sapUiLocalBusyIndicatorAnimation > div::before,
.sapUiLocalBusyIndicatorAnimation > div::after {
  content: "";
  opacity: 1;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.sapUiLocalBusyIndicatorAnimation > div::after {
  box-shadow: inset 0 0 0 0 #0854a0;
}

.sapUiLocalBusyIndicatorAnimStandard > div::after {
  animation: sapUiBusyAnimationStandardShadow 1.8s infinite ease-in-out;
}

.sapUiLocalBusyIndicatorAnimation > div::after {
  box-shadow: inset 0 0 2px 1px rgb(10 110 209 / 80%);
}

.sapUiLocalBusyIndicatorAnimation > div {
  width: 1em;
  height: 1em;
  border-radius: 100%;
  display: block;
  float: left;
  margin: 0px;
  position: relative;
  top: -0.5em;
  left: -1.5em;
  text-indent: 1px;
}

.sapUiLocalBusyIndicatorSizeBig {
  font-size: 2rem;
  background-color: transparent;
}

.sapUiLocalBusyIndicator {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  outline: none;
}

.sapUiLocalBusyIndicatorFade {
  opacity: 1;
}

@keyframes sapUiBusyAnimationStandard {
  0%,
  80%,
  100% {
    transform: scale(0.4);
  }

  40% {
    transform: scale(1);
  }
}
