* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.u4aWsmainContent {
    width: 100%;
    height: 100%;
    background-color: #12171C;
    position: relative;
    overflow: hidden;
}

.u4aWsrocket {
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 999;
    animation: rocket 8s ease-in-out infinite;
    animation-delay: 2s;
}

.poiHead {
    transform-origin: center center;
    animation: poihead 8s ease-in-out infinite;
}

.rightArm {
    transform-origin: 100% center;
    animation: poiHi 8s ease-in-out infinite;
}

.u4apoiArm {
    transform-origin: center;
    animation: poiHi2 8s ease-in-out infinite;
}

.u4aWsFire {
    width: 150px;
    height: 48px;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    filter: blur(8px);
    animation: fire 8s ease-in-out infinite;
    animation-delay: 2s;
}

.u4aWsFireColor {
    height: 8px;
}

.u4aWsFireColor.yellow {
    width: 100%;
    background-color: #FAFF00;
    animation: fire1 0.2s linear infinite;
}

.u4aWsFireColor.purple {
    width: 40%;
    background-color: #CC00FF;
    animation: fire2 0.2s linear infinite;
}

.u4aWsFireColor.blue {
    width: 100%;
    background-color: #0075FF;
    animation: fire3 0.2s linear infinite;
}

.u4aWsFireColor.green {
    width: 90%;
    background-color: #51C37F;
    animation: fire4 0.2s linear infinite;
}

.u4aWsFireColor.orange {
    width: 100%;
    background-color: #FF9900;
    animation: fire5 0.2s linear infinite;
}

.u4aWsFireColor.red {
    width: 40%;
    background-color: #FF0000;
    animation: fire6 0.2s linear infinite;
}

.u4aWstitleFlag {
    position: absolute;
    z-index: 999;
}

.u4aWsflag_stick {
    width: 10px;
    height: 40%;
    background-color: #98999A;
    border-radius: 5px;
    position: absolute;
    z-index: 999;
}

.u4aWsPoi {
    position: absolute;
    z-index: 999;
}

.u4aWsSap {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.u4aWsSap .u4aWsSapMark {
    height: 3vw;
}

/* .u4aWsSapMark {
    position: absolute;
    animation: sapMark 60s linear infinite;
}

.u4aWsSapMark:nth-of-type(1) {
    top: 90%;
    left: 80%;
    animation-delay: 2s;
}

.u4aWsSapMark:nth-of-type(2) {
    top: 90%;
    left: -30%;
    animation-delay: 6s;
}

.u4aWsSapMark:nth-of-type(3) {
    top: 90%;
    left: -20%;
    animation-delay: 10s;
}

.u4aWsSapMark:nth-of-type(4) {
    top: 90%;
    left: -20%;
    animation-delay: 14s;
} */

.u4aWsnight {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(10deg);
}

.u4aWsnight .shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #ddc200, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #ff9100);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.u4aWsnight .shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #ddc200, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}

.u4aWsnight .shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #ddc200, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
}

.u4aWsnight .shooting_star:nth-child(1) {
    top: calc(30% - 59px);
    left: calc(30% - 178px);
    -webkit-animation-delay: 26ms;
    animation-delay: 26ms;
}

.u4aWsnight .shooting_star:nth-child(1)::before,
.u4aWsnight .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 26ms;
    animation-delay: 26ms;
}

.u4aWsnight .shooting_star:nth-child(2) {
    top: calc(50% - 193px);
    left: calc(50% - 127px);
    -webkit-animation-delay: 9433ms;
    animation-delay: 9433ms;
}

.u4aWsnight .shooting_star:nth-child(2)::before,
.u4aWsnight .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 9433ms;
    animation-delay: 9433ms;
}

.u4aWsnight .shooting_star:nth-child(3) {
    top: calc(60% - 264px);
    left: calc(60% - 161px);
    -webkit-animation-delay: 7509ms;
    animation-delay: 7509ms;
}

.u4aWsnight .shooting_star:nth-child(3)::before,
.u4aWsnight .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 7509ms;
    animation-delay: 7509ms;
}

.u4aWsnight .shooting_star:nth-child(4) {
    top: calc(80% - 350px);
    left: calc(80% - 228px);
    -webkit-animation-delay: 6864ms;
    animation-delay: 6864ms;
}

.u4aWsnight .shooting_star:nth-child(4)::before,
.u4aWsnight .shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 6864ms;
    animation-delay: 6864ms;
}

.u4aWsnight .shooting_star:nth-child(5) {
    top: calc(30% - 400px);
    left: calc(30% - 274px);
    -webkit-animation-delay: 5307ms;
    animation-delay: 5307ms;
}

.u4aWsnight .shooting_star:nth-child(5)::before,
.u4aWsnight .shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 5307ms;
    animation-delay: 5307ms;
}

.u4aWsnight .shooting_star:nth-child(6) {
    top: calc(40% - 645px);
    left: calc(40% - 73px);
    -webkit-animation-delay: 9573ms;
    animation-delay: 9573ms;
}

.u4aWsnight .shooting_star:nth-child(6)::before,
.u4aWsnight .shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 9573ms;
    animation-delay: 9573ms;
}

.u4aWsnight .shooting_star:nth-child(7) {
    top: calc(20% - 446px);
    left: calc(20% - 278px);
    -webkit-animation-delay: 2914ms;
    animation-delay: 2914ms;
}

.u4aWsnight .shooting_star:nth-child(7)::before,
.u4aWsnight .shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 2914ms;
    animation-delay: 2914ms;
}

.u4aWsnight .shooting_star:nth-child(8) {
    top: calc(80% - 23px);
    left: calc(10% - 101px);
    -webkit-animation-delay: 3633ms;
    animation-delay: 3633ms;
}

.u4aWsnight .shooting_star:nth-child(8)::before,
.u4aWsnight .shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 3633ms;
    animation-delay: 3633ms;
}

.u4aWsnight .shooting_star:nth-child(9) {
    top: calc(50% - 58px);
    left: calc(50% - 130px);
    -webkit-animation-delay: 2811ms;
    animation-delay: 2811ms;
}

.u4aWsnight .shooting_star:nth-child(9)::before,
.u4aWsnight .shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 2811ms;
    animation-delay: 2811ms;
}

@-webkit-keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@-webkit-keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}

@-webkit-keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}

@-webkit-keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

@keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

@keyframes rocket {
    0% {
        left: 100%;
    }
    6% {
        transform: rotate(-5deg);
        left: 34%;
    }
    7% {
        transform: rotate(0);
        left: 35%;
    }
    8% {
        transform: rotate(-5deg);
        left: 31%;
    }
    9% {
        transform: rotate(0);
        left: 32%;
    }
    10% {
        left: 30%;
    }
    60% {
        top: 50%;
        left: 30%;
    }
    60.2% {
        top: 49%;
    }
    60.4% {
        top: 50%;
    }
    60.6% {
        top: 51%;
    }
    60.8% {
        top: 50%;
    }
    61% {
        top: 49%;
    }
    61.2% {
        top: 50%;
    }
    61.4% {
        top: 51%;
    }
    61.6% {
        top: 50%;
    }
    61.8% {
        top: 48%;
    }
    62% {
        top: 50%;
    }
    62.2% {
        top: 52%;
    }
    62.4% {
        top: 50%;
    }
    62.6% {
        top: 48%;
    }
    62.8% {
        top: 50%;
    }
    63% {
        top: 52%;
    }
    63.2% {
        top: 50%;
    }
    63.4% {
        top: 48%;
    }
    63.6% {
        top: 50%;
    }
    63.8% {
        top: 52%;
    }
    64% {
        top: 50%;
        left: 30%;
        transform: rotate(0);
    }
    65% {
        transform: rotate(8deg);
    }
    70% {
        transform: rotate(0);
    }
    80% {
        left: -100%;
    }
    100% {
        left: -100%;
    }
}

@keyframes fire {
    0% {
        opacity: 1;
    }
    9% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    64% {
        transform: rotate(0) translate(-50%, -50%);
    }
    65% {
        width: 300px;
        opacity: 1;
        filter: blur(5px);
        transform: rotate(8deg);
    }
    70% {
        width: 150px;
        filter: blur(8px);
        transform: rotate(0) translate(-50%, -50%);
    }
    100% {
        opacity: 1;
    }
}

@keyframes poihead {
    0% {
        transform: rotate(0);
    }
    42% {
        transform: rotate(0);
    }
    43% {
        transform: rotate(10deg);
    }
    44% {
        transform: rotate(0);
    }
    45% {
        transform: rotate(-10deg);
    }
    46% {
        transform: rotate(0);
    }
    47% {
        transform: rotate(10deg);
    }
    48% {
        transform: rotate(0);
    }
    49% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0);
    }
    51% {
        transform: rotate(10deg);
    }
    52% {
        transform: rotate(0);
    }
    53% {
        transform: rotate(-10deg);
    }
    54% {
        transform: rotate(0);
    }
    55% {
        transform: rotate(10deg);
    }
    56% {
        transform: rotate(0);
    }
    57% {
        transform: rotate(-10deg);
    }
    58% {
        transform: rotate(0);
    }
    59% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0);
    }
    61% {
        transform: rotate(-10deg);
    }
    62% {
        transform: rotate(0);
    }
    63% {
        transform: rotate(10deg);
    }
    64% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes poiHi {
    0% {
        transform: rotate(0);
    }
    42% {
        transform: rotate(0);
    }
    43% {
        transform: rotate(8deg);
    }
    44% {
        transform: rotate(0);
    }
    45% {
        transform: rotate(-8deg);
    }
    46% {
        transform: rotate(0);
    }
    47% {
        transform: rotate(8deg);
    }
    48% {
        transform: rotate(0);
    }
    49% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(0);
    }
    51% {
        transform: rotate(8deg);
    }
    52% {
        transform: rotate(0);
    }
    53% {
        transform: rotate(-8deg);
    }
    54% {
        transform: rotate(0);
    }
    55% {
        transform: rotate(8deg);
    }
    56% {
        transform: rotate(0);
    }
    57% {
        transform: rotate(-8deg);
    }
    58% {
        transform: rotate(0);
    }
    59% {
        transform: rotate(8deg);
    }
    60% {
        transform: rotate(0);
    }
    61% {
        transform: rotate(-8deg);
    }
    62% {
        transform: rotate(0);
    }
    63% {
        transform: rotate(8deg);
    }
    64% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes poiHi2 {
    0% {
        transform: rotate(0);
    }
    42% {
        transform: rotate(0);
    }
    43% {
        transform: rotate(-10deg);
    }
    44% {
        transform: rotate(0);
    }
    45% {
        transform: rotate(10deg);
    }
    46% {
        transform: rotate(0);
    }
    47% {
        transform: rotate(-10deg);
    }
    48% {
        transform: rotate(0);
    }
    49% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0);
    }
    51% {
        transform: rotate(-10deg);
    }
    52% {
        transform: rotate(0);
    }
    53% {
        transform: rotate(10deg);
    }
    54% {
        transform: rotate(0);
    }
    55% {
        transform: rotate(-10deg);
    }
    56% {
        transform: rotate(0);
    }
    57% {
        transform: rotate(10deg);
    }
    58% {
        transform: rotate(0);
    }
    59% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(0);
    }
    61% {
        transform: rotate(10deg);
    }
    62% {
        transform: rotate(0);
    }
    63% {
        transform: rotate(-10deg);
    }
    64% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes sapMark {
    100% {
        left: 100%;
    }
}

@keyframes fire1 {
    50% {
        width: 60%;
    }
    100% {
        width: 100%;
    }
}

@keyframes fire2 {
    50% {
        width: 100%;
    }
    100% {
        width: 30%;
    }
}

@keyframes fire3 {
    50% {
        width: 40%;
    }
    100% {
        width: 100%;
    }
}

@keyframes fire4 {
    50% {
        width: 100%;
    }
    100% {
        width: 90%;
    }
}

@keyframes fire5 {
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

@keyframes fire6 {
    50% {
        width: 100%;
    }
    100% {
        width: 40%;
    }
}

@media screen and (max-width: 1235px) {
    @keyframes rocket {
        0% {
            left: 100%;
        }
        6% {
            transform: rotate(-5deg);
            left: 14%;
        }
        7% {
            transform: rotate(0);
            left: 15%;
        }
        8% {
            transform: rotate(-5deg);
            left: 11%;
        }
        9% {
            transform: rotate(0);
            left: 12%;
        }
        10% {
            left: 10%;
        }
        60% {
            top: 50%;
            left: 10%;
        }
        60.2% {
            top: 49%;
        }
        60.4% {
            top: 50%;
        }
        60.6% {
            top: 51%;
        }
        60.8% {
            top: 50%;
        }
        61% {
            top: 49%;
        }
        61.2% {
            top: 50%;
        }
        61.4% {
            top: 51%;
        }
        61.6% {
            top: 50%;
        }
        61.8% {
            top: 48%;
        }
        62% {
            top: 50%;
        }
        62.2% {
            top: 52%;
        }
        62.4% {
            top: 50%;
        }
        62.6% {
            top: 48%;
        }
        62.8% {
            top: 50%;
        }
        63% {
            top: 52%;
        }
        63.2% {
            top: 50%;
        }
        63.4% {
            top: 48%;
        }
        63.6% {
            top: 50%;
        }
        63.8% {
            top: 52%;
        }
        64% {
            top: 50%;
            left: 10%;
            transform: rotate(0);
        }
        65% {
            transform: rotate(8deg);
        }
        70% {
            transform: rotate(0);
        }
        80% {
            left: -100%;
        }
        100% {
            left: -100%;
        }
    }
}

@media screen and (max-width: 990px) {
    .u4aWsSapMark {
        height: 7%;
    }
    @keyframes rocket {
        0% {
            left: 100%;
        }
        6% {
            transform: rotate(-5deg);
            left: 8%;
        }
        7% {
            transform: rotate(0);
            left: 9%;
        }
        8% {
            transform: rotate(-5deg);
            left: 5%;
        }
        9% {
            transform: rotate(0);
            left: 6%;
        }
        10% {
            left: 4%;
        }
        60% {
            top: 50%;
            left: 4%;
        }
        60.2% {
            top: 49%;
        }
        60.4% {
            top: 50%;
        }
        60.6% {
            top: 51%;
        }
        60.8% {
            top: 50%;
        }
        61% {
            top: 49%;
        }
        61.2% {
            top: 50%;
        }
        61.4% {
            top: 51%;
        }
        61.6% {
            top: 50%;
        }
        61.8% {
            top: 48%;
        }
        62% {
            top: 50%;
        }
        62.2% {
            top: 52%;
        }
        62.4% {
            top: 50%;
        }
        62.6% {
            top: 48%;
        }
        62.8% {
            top: 50%;
        }
        63% {
            top: 52%;
        }
        63.2% {
            top: 50%;
        }
        63.4% {
            top: 48%;
        }
        63.6% {
            top: 50%;
        }
        63.8% {
            top: 52%;
        }
        64% {
            top: 50%;
            left: 4%;
            transform: rotate(0);
        }
        65% {
            transform: rotate(8deg);
        }
        70% {
            transform: rotate(0);
        }
        80% {
            left: -100%;
        }
        100% {
            left: -100%;
        }
    }
}