
/* BusyIndicator */
#u4aWsBusyIndicator {
    right: 0;
}

.u4aWsBusyIndicator {
    z-index: 2000000;
}
.sapUiUserSelectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.sapUiBusy {
    display: block;
    width: 48px;
    height: 48px;
    outline: none;
    cursor: wait;
    top: 0 !important;
}

#u4aWsBusyIndicator>.sapUiLocalBusyIndicatorFade {
    cursor: wait;
}

.sapUiLocalBusyIndicatorSizeBig {
    font-size: 2rem;
    background-color: transparent;
}

.sapUiLocalBusyIndicatorFade {
    opacity: 1;
}

.sapUiLocalBusyIndicator {
    opacity: 0;
    transition: opacity .3s ease-in;
    outline: none;
}

.sapUiLocalBusyIndicator {
    background-color: rgba(247, 247, 247, 0.72);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.sapUiLocalBusyIndicatorAnimation {
    position: absolute;
    width: 3em;
    top: 50%;
    left: 50%;
}

.sapUiLocalBusyIndicatorAnimStandard>div:nth-child(1) {
    animation-delay: -0.32s;
}

.sapUiLocalBusyIndicatorAnimStandard>div:nth-child(2) {
    animation-delay: -0.16s;
}

.sapUiLocalBusyIndicatorAnimStandard>div {
    animation: sapUiBusyAnimationStandard 1.8s infinite ease-in-out;
}

.sapUiLocalBusyIndicatorAnimation>div,
.sapUiLocalBusyIndicatorAnimation>div::before,
.sapUiLocalBusyIndicatorAnimation>div::after {
    animation-fill-mode: both;
}

.sapUiLocalBusyIndicatorAnimation>div {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    display: block;
    float: left;
    margin: 0px;
    position: relative;
    top: -0.5em;
    left: -1.5em;
    text-indent: 1px;
}

.sapUiLocalBusyIndicatorAnimStandard>div {
    animation: sapUiBusyAnimationStandard 1.8s infinite ease-in-out;
}

.sapUiLocalBusyIndicatorAnimation>div::before {
    background: #0854a0;
    animation-duration: 0ms;
}

.sapUiLocalBusyIndicatorAnimStandard>div::before {
    animation: sapUiBusyAnimationStandardBackground 1.8s infinite ease-in-out;
}

.sapUiLocalBusyIndicatorAnimation>div::before {
    background: #0a6ed1;
}

.sapUiLocalBusyIndicatorAnimation>div::before,
.sapUiLocalBusyIndicatorAnimation>div::after {
    content: "";
    opacity: 1;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.sapUiLocalBusyIndicatorAnimation>div::after {
    box-shadow: inset 0 0 0 0 #0854a0;
}

.sapUiLocalBusyIndicatorAnimStandard>div::after {
    animation: sapUiBusyAnimationStandardShadow 1.8s infinite ease-in-out;
}

.sapUiLocalBusyIndicatorAnimation>div::after {
    box-shadow: inset 0 0 2px 1px rgb(10 110 209 / 80%);
}

.sapUiLocalBusyIndicatorAnimation>div {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    display: block;
    float: left;
    margin: 0px;
    position: relative;
    top: -0.5em;
    left: -1.5em;
    text-indent: 1px;
}

.sapUiLocalBusyIndicatorSizeBig {
    font-size: 2rem;
    background-color: transparent;
}

.sapUiLocalBusyIndicator {
    opacity: 0;
    transition: opacity .3s ease-in;
    outline: none;
}

.sapUiLocalBusyIndicatorFade {
    opacity: 1;
}

@keyframes sapUiBusyAnimationStandard {

    0%,
    80%,
    100% {
        transform: scale(.4);
    }

    40% {
        transform: scale(1);
    }
}

/* Loading Page */
.u4a_loaders {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.5rem;
    color: rgba(2, 8, 16, 0.55);
    position: absolute;
    top: 0;
    width: 100%;
    background: #1d232a;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 15px 30px 0px, rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;
}
.u4a_loader {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}
.u4a_loadersInactive {
    display: none;
}
.u4a_loader-bars:before,
.u4a_loader-bars:after,
.u4a_loader-bars span {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background-color: rgba(2, 8, 16, 0.55);
    -webkit-animation: u4a_grow 1.5s linear infinite;
    animation: u4a_grow 1.5s linear infinite;
}

.u4a_loader-bars:after {
    left: 15px;
    -webkit-animation: u4a_grow 1.5s linear -0.5s infinite;
    animation: u4a_grow 1.5s linear -0.5s infinite;
}

.u4a_loader-bars span {
    left: 30px;
    -webkit-animation: u4a_grow 1.5s linear -1s infinite;
    animation: u4a_grow 1.5s linear -1s infinite;
}

@-webkit-keyframes u4a_grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes u4a_grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}


.cl_ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #ff2600;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #ffbeb2;
    letter-spacing: 4px;
    text-shadow: 0 0 10px #ffbeb2;
    box-shadow: 0 0 20px rgba(156, 0, 0, 0.5);
}

.cl_ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #ffbeb2;
    border-right: 3px solid #ffbeb2;
    border-radius: 50%;
    animation: animateC 3s linear infinite;
}

.cl_ringArea {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 3s linear infinite;
}

.cl_ringArea:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ffbeb2;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #fff;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}